:root{
    --Efa-Soft-orange:hsl(35, 77%, 62%);
    --Efa-Soft-red:hsl(5, 85%, 63%);
    --Efa-Off-White:hsl(36, 100%, 99%);
    --Efa-Grayish-blue:hsl(233, 8%, 79%);
    --Efa-Dark-grayish-Blue:hsl(236, 13%, 42%);
    --Efa-Very-dark-grayish-blue:hsl(240, 100%, 5%);
}
body{
    margin-left:90px;
    margin-right:90px;
    margin-top:50px;
    margin-bottom:40px;
}
.top-img{
    min-width:320px;
    width:650px;
}
h1{
    font-size: 60px;
    font-weight:600;
}
h2{
    color:var(--Efa-Soft-orange);
    font-size: 48px;
}

p,a{
    color:var(--Efa-Dark-grayish-Blue);
}
.Grayish-blue{
    color:var(--Efa-Grayish-blue);
}
.soft-red{
    color:var(--Efa-Soft-red);
}
.Off-white{
    color:var(--Efa-Off-White);
}
.Off-white:hover{
    color:var(--Efa-Soft-orange);
}
aside{
    background-color:var(--Efa-Very-dark-grayish-blue);
    margin-top:0px;
    padding:20px;
    margin-left: 20px;
}
p{
    font-size:15px;   
}
a{
    text-decoration:none;
}
ul{
    margin-left: 570px;
}
li{
    list-style:none;
    padding-right:20px;
}
ul, a, header{
    display:flex;
    flex-direction: row;
    padding-bottom: auto;
}
button{
    color:var(--Efa-Very-dark-grayish-blue);
    border:transparent;
    font-weight: 700;
    width:200px;
    height:40px;
    background-color:var(--Efa-Soft-red);
}
button:hover{
    background-color: var(--Efa-Very-dark-grayish-blue);
    color:var(--Efa-Off-White);
}
main{
    display:flex;
    flex-direction: row;
}
.textapart{
    display:flex;
    flex-direction: column;
    margin-top: 70px;
    width:300px;
}
.the_bright{
    display:flex;
    flex-direction: row;
}
